*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mulish, sans-serif;
   
  
}
#main{
    height: 100%;
    width: 100%;
    background-color: #08111F;
   
}
#page1{
    height: 100vh;
    width: 100%;
}

#navbar{
    height: 100px;
    background-color: #08111F;
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 0 5vw;
     border-bottom: 2px solid #dadada;
   
   
}
#logo img{
    height: 5vw;
}
#nav-part2{
    color: #fff;    
}
#nav-part2 ul li{
   display: inline-block;
   padding: 25px;
   font-size: 1.3vw;
   
}
#nav-part2 ul li:hover{
    color: #F48C06;
}
#nav-part2 i {
    font-size: 1.8vw;
    font-weight: 800;
    display: none;
}
#about{
    height: calc(100% - 100px);
    width: 100%;
    background-color:#08111F;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
#about-text{
    height: 80vh;
    width: 50%;
    background-color:#08111F;
    color: #fff;
   padding: 7vw 5vw;
   font-size: 3vh;
   
   

}
#about-text h1{
    font-size: 2.8;

}

#about-text samp{
    color:#F48C06;
}
#about-text samp:nth-child(2){
    color: #B5179E;
}
#about-text p{
    color: #fff;
    padding-top: 6vh;
    font-size: 2.8vh;

}
button{
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: #FE6918;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 1.5vw;
    width: 50%;
  
}
button:hover{
    background-color: black;
    color:#fff;
    transition: ease all 1s;
    border: 2px solid #FE6918;
}
#about-img{
    height: 80vh;
    width: 50%;
    background-color: #08111F;
    
}
#about-img img{
    object-fit: contain;
    height: 80vh;
    width: 100%;
    padding-right: 10vh;
}




#page2{
    background-color: #08111F;
}
#page2 .slide1h1{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;
}

#page2 h1{
    font-size: 13vw;
    text-transform: uppercase;
    line-height: 23vh;
}
#page2 .slide1h1::-webkit-scrollbar{
    display: none;
}
#page2 .slide2h1::-webkit-scrollbar{
    display: none;
}
#page2 h1 .one2{
    color: transparent;
    -webkit-text-stroke: 1px #adadad;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
   
   
}   
   
#page3-part1{
   background-color: #fff;
    
    height: 100%;
    width: 50%;
    padding-top: 5vh;
    padding-left: 5vh;
   
}


#page3-part1 img{
    height: 90vh;
    width: 100%;
    object-fit: cover;
   border-radius: 50px;
  
   
     
}
#page3-part2{
    height: 100%;
    width: 60%;
   
    display: flex;
    text-align: start;
    justify-content: center;
  
    background-color: #fff;
    padding: 5vh;

}
#page3-part2 p{
    font-size: 1.9vw;
   align-items: flex-start;
   color: #adadad;
}
#page3-part2 p::selection{
    background-color: black;
    color: #fff;
}
#page3-part2 p:hover{
    color: #333 ;
    
}

@media (max-width:600px) {
    #navbar{
      height: 60px;
        padding: 0 6vw;
    }
    #logo img{
        height: 8vw;
    }
    #nav-part2 ul li{
        font-size: 4vw;
        display: none;
    }
    #nav-part2 i{
        display: block;
        font-size: 6vw;
    }
    #about{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    #about-text{
        width: 100%;
        height: 50%;
        padding: 4vw 4vw;

    }
    #about-img{
        width: 100%;
        height: auto;
        padding-left: 5vw;

    }
    #about-text h1{
        font-size: 8vw;
    
    }
    #about-text p{
        font-size: 4vw;
        width: 90%;
        margin-top: 2.5vw;
        margin-bottom: 3vw;
    
    }
    #about button{
        padding: 5px 10px;
        border: 2px solid #fff;
        background-color: #FE6918;
        border-radius: 50px;
        color: #fff;
        font-weight: 400;
        font-size: 3.5vw;
        margin-top: 2.5vw;
        width: 50%;
      
        
    }
    #about-img img{
        height:40vh;
        width: 100%;
        padding-right: 5vh;

    }
    #page2 h1{
        font-size: 10vw !important;
        text-transform: uppercase;
        line-height: 10vh !important;
    }

    #page3{
        height: 100vh;
         width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #page3-part1{
        background-color: #fff;
         height: 60%;
         width: 100%;
         padding: 5vw 5vw;
        
     }
     #page3-part1 img{
        height: 70vh;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
       border-radius: 50px;
      
       
         
    }
     #page3-part2{
        height: 40vh;
        width: 100%;
        display: flex;
        text-align: start;
        justify-content: center;
      
        background-color: #fff;
        padding: 5vw;
     }
    #page3-part2 p{
        font-size: 3vw;
       align-items: flex-start;
       color: #adadad;
       padding: 5vw;
    }
    
}

